dgl==0.6
future==0.18
ghast==0.1.0
gym>=0.19
imageio>=2.9
jupyterlab
matplotlib
numba>=0.55
numpy>=1.21
pandas>=1.3
periodictable>=1.5
plotly>=5
pyarrow
pyglet>=1.5
scikit-learn>=1.0
scipy>=1.7.0
tensorflow==2.7
tensorflow-datasets
tensorflow-gan>=2.0
tqdm